.pnf {
  color: #fff;
  font-size: 50px;
}

.head {
  color: #fff;
  font-size: 50px;
}

.link {
  color: #add8e6;
  font-size: 3rem;
}

.paragraph {
  color: #fff;
  font-size: 2rem;
}

.box {
  width: 50%;
  height: 30%;
  border-width: 5px;
  border-color: #474545;
  padding: 30px;
  border-radius: 6px;
  margin-top: 50vh;
  transform: translateY(-50%);
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: #474545;
}
